<p>Bonjour {{ recipient.name }}</p>
<p>Vous avez recu un message de <strong>{{ message.name }}</strong> (<a href="mailto:{{ message.email }}">{{ message.email }}</a>):</p>
<p style="border-radius: 5px; background-color: #dedede; padding: 15px">{{ message.content|nl2br }}</p>
